*{
  margin: 0;
  padding: 0;
  font-family: raleway;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  text-align: center;
  background-image: url('images/bg2.jpg');
  margin-top: 0;
  padding-top: 0;
}
.container {
  
  width: 80%;
  margin: auto;

}

#title {
  font-size: 5rem;
  color: white;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #000;
  margin-top: 20px;
  margin-bottom: 0;
}

img {
  width: 13vw;
  margin-top: 0;
  padding-top: 0;

}

footer {
  color: #DBEDF3;
  font-weight: bold;
  font-size: 3vw;
  text-shadow: 3px 0 #000;
  font-family: sans-serif;
  margin-top: 10vh;
}



.w {
  background-image: url(images/black.png);
  color: white !important;
}

.e {
  background-image: url(images/black.png);
  color: white !important;
}



.t {
  background-image: url(images/black.png);
  color: white !important;
}

.y {
  background-image: url(images/black.png);
  color: white !important;
}



.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}



.sing {
  outline: none;
  border: 5px solid #dfe6e9;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  font-weight: bold;
  color: black;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 5px;
  width: 8vw;
  height: 40vh;
  text-align: center;
  margin-top: 5vh;
  background-color: white;
}

/* .show {
  opacity: 1;
  transition: opacity 1000ms;
}
.hide {
  opacity: 0;
  transition: opacity 1000ms;
} */

